In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_10000 = pd.read_csv("./datasets/custom-ml/movies_10000.csv")
movies_10000.head()

,movieId,title,genres,ratings,mean_rating
0,318,"Shawshank Redemption, The (1994)",Crime|Drama,122296.0,4.416792
1,356,Forrest Gump (1994),Comedy|Drama|Romance|War,113581.0,4.068189
2,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,108756.0,4.191778
3,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,107056.0,4.160631
4,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,101802.0,4.150287

In [3]:
moviesIds_10000 = movies_10000["movieId"]
moviesIds_10000

0          318
1          356
2          296
3         2571
4          593
         ...
9995     88248
9996     88746
9997      5832
9998    100882
9999     70992
Name: movieId, Length: 10000, dtype: int64

In [5]:
links_full = pd.read_csv("./datasets/ml-latest/links.csv")
links_full.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [20]:
tmbids = links_full[links_full["movieId"].isin(moviesIds_10000)]
tmbids

0           862.0
1          8844.0
2         15602.0
3         31357.0
4         11862.0
           ...
85502    447365.0
85564    964980.0
85647    649609.0
85657    502356.0
85911    569094.0
Name: tmdbId, Length: 10000, dtype: float64

In [22]:
links_10000 = links_full[links_full["movieId"].isin(moviesIds_10000)]

In [29]:
merged_movies_10000 = pd.merge(movies_10000, links_10000, on="movieId", how="inner")
merged_movies_10000.head()

,movieId,title,genres,ratings,mean_rating,imdbId,tmdbId
0,318,"Shawshank Redemption, The (1994)",Crime|Drama,122296.0,4.416792,111161,278.0
1,356,Forrest Gump (1994),Comedy|Drama|Romance|War,113581.0,4.068189,109830,13.0
2,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,108756.0,4.191778,110912,680.0
3,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,107056.0,4.160631,133093,603.0
4,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,101802.0,4.150287,102926,274.0

In [78]:
merged_movies_10000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movieId      10000 non-null  int64
 1   title        10000 non-null  object
 2   genres       10000 non-null  object
 3   ratings      10000 non-null  float64
 4   mean_rating  10000 non-null  float64
 5   imdbId       10000 non-null  int64
 6   tmdbId       9996 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 547.0+ KB

In [46]:
import requests
import json

API_KEY = "bb782d9682f1bc5cd45abf0151831dc2"

posters = []

for i in range(len(merged_movies_10000)):
    dict_movie_poster = {}
    
    movie = merged_movies_10000.iloc[i]
    movie_tmdbid = movie["tmdbId"]
    
    url = f"https://api.themoviedb.org/3/movie/{movie_tmdbid}?api_key={API_KEY}"
    
    response = requests.get(url)
    response_dict = json.loads(response.text)
    
    poster_path = ""
    
    try:
        poster_path = response_dict["poster_path"]
    except KeyError:
        poster_path = None
    
    poster_url = f"https://image.tmdb.org/t/p/original{poster_path}" if poster_path != None else None
    
    dict_movie_poster["movieId"] = movie["movieId"]
    dict_movie_poster["tmdbId"] = movie_tmdbid
    dict_movie_poster["title"] = movie["title"]
    dict_movie_poster["poster_url"] = poster_url
    
    posters.append(dict_movie_poster)
    
    if i % 100 == 0:
        print(i)
    
    #print(movie["title"], " - ", poster_url)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900

In [ ]:
posters

In [ ]:
posters_df = pd.DataFrame(posters)
posters_df.sample(10)

In [81]:
posters_df.to_csv("./datasets/custom-ml/movies_posters_10000.csv", index=False)